#menu
{
	position: absolute; 
    top: 50%;
    left: 0;
	display:none;
	color:#fff;
	background-color:#0d3e5f;
}

div.sc_menu_wrapper {
	position: relative; 	
	height: auto;
	/* Make bigger than a photo, because we need a place for a scrollbar. */
	width: 100%;
	
	overflow: auto;
}
div.sc_menu {
	/*padding: 15px 0;*/
}
.sc_menu img {
	display: block;
	margin-bottom: 0.5%;
	width: auto;
	
	border: 0.5% #021f3f; solid;
/*
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;		
*/	
	/* When image support is turned off */
	color: #fff;
	background-color:#0d3e5f;
}

.sc_menu a {
	border: 0.5% #021f3f; solid;
}

.sc_menu a:hover {
	border: 0.5% #0d3e5f; dotted;
}
/*
.sc_menu img {
	display: block;
	/*border: none;*/
}
*/
.sc_menu_wrapper .loading {
	position: absolute;
	top: 50px;
	left: 10px;
	
	margin: 0 auto;
	padding: 10px;

	width: 100px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;	
	
	text-align: center;
	color: #fff;
	border: 1px solid rgb(79, 79, 79);
	background: #1F1D1D;
}
/* Here are styles for a link to an article. Not for you :) */
#back {
	margin-left: 8px;
	color: gray;
	font-size: 18px;
	text-decoration: none;
}
#back:hover {
	text-decoration: underline;
}