<div class="ui-listview" id="topselection">
	<h1 class="ui-li-heading">Skills Levels</h1>
</div>

<div class="skills-section" id="AjaxOutput">
	<ul data-dividertheme="d" data-theme="c" data-inset="true" data-role="listview" id="toplist" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-first-child ui-btn-up-c">
			<div class="ui-btn-inner ui-li">
				<div class="ui-btn-text">
					<a onclick="getCategories('1');" href="#" class="ui-link-inherit">Level I</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
			</div>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
			<div class="ui-btn-inner ui-li">
				<div class="ui-btn-text">
					<a onclick="getCategories('2');" href="#" class="ui-link-inherit">Level II</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
			</div>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
			<div class="ui-btn-inner ui-li">
				<div class="ui-btn-text">
					<a onclick="getCategories('3');" href="#" class="ui-link-inherit">Level III</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
			</div>
		</li>
		<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-last-child ui-btn-up-c">
			<div class="ui-btn-inner ui-li">
				<div class="ui-btn-text">
					<a onclick="getCategories('4');" href="#" class="ui-link-inherit">Level IV</a>
				</div>
				<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
			</div>
		</li>
	</ul>
</div>