<br/><div id="topselection"><h1>WODs</h1></div>

<div id="AjaxOutput">

  <ul id="toplist" data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
    
    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-first-child ui-btn-up-c">
    	<div class="ui-btn-inner ui-li">
    		<div class="ui-btn-text">
    			<a style="font-size:large" href="#mygym" class="ui-link-inherit">
    				<div style="height:26px;width:1px;float:left"></div>
    				Daily WOD from your Gym<br>
    				<span style="font-size:small">
    					Your gym uploads new WOD daily
    				</span>
    			</a>
    		</div>
    		<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
    	</div>
    </li>             

    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
    	<div class="ui-btn-inner ui-li">
    		<div class="ui-btn-text">
    			<a style="font-size:large" href="#custom" class="ui-link-inherit">
    				<div style="height:26px;width:1px;float:left"></div>
    				Create Personal WOD<br>
    				<span style="font-size:small">
    					Input your own custom WOD
    				</span>
    			</a>
    		</div>
    		<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
    	</div>
    </li>

    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
    	<div class="ui-btn-inner ui-li">
    		<div class="ui-btn-text">
    			<a style="font-size:large" href="#personal" class="ui-link-inherit">
    				<div style="height:26px;width:1px;float:left"></div>
    				My Personal WODs<br>
    				<span style="font-size:small">
    					View your personal WODs
    				</span>
    			</a>
			</div>
			<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
		</div>
	</li>

    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-c">
    	<div class="ui-btn-inner ui-li">
    		<div class="ui-btn-text">
    			<a style="font-size:large" href="#benchmark" class="ui-link-inherit">
    				<div style="height:26px;width:1px;float:left"></div>
    				Benchmarks<br>
    				<span style="font-size:small">
    					Well known WODs
    				</span>
    			</a>
    		</div>
    		<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
    	</div>
    </li>

    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li ui-last-child">
    	<div class="ui-btn-inner ui-li">
    		<div class="ui-btn-text">
    			<a style="font-size:large" href="#completed" class="ui-link-inherit">
    				<div style="height:26px;width:1px;float:left"></div>
    				Completed WODs<br>
    				<span style="font-size:small">
    					Historical list of completed WODs
    				</span>
    			</a>
    		</div>
    		<span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
    	</div>
    </li>
    
  </ul>

</div>
<div class="clear"></div>
<br/>